    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="A toy train controlled by Meteor – as submitted to the Meteor Global Distributed Hackathon 2015.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    </head>
    
    <body>
        
        
    </body>
    
    
    
<template name="dashboard">

	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="header-container">
		<header class="wrapper clearfix">
			<h1 class="title">The Meteor Train</h1>
			<nav>
				<ul>
					<li><a href="http://qnipp.com" target="_blank"><img src="qnipp_logo_white.png" class="logo" /></a></li>
				</ul>
			</nav>
		</header>
	</div>

	<div class="main-container">
		<div class="main wrapper clearfix">

			<article>
				<!--
				<header>
					<h1>&nbsp;</h1>
					<p>&nbsp;</p>
				</header>
				-->
				<section>
					<div class="grid_100">
						
						<div class="grid_75">
							{{>tachometer}}
						</div>
						
						<div class="grid_25">
							{{#each trains}}
								{{> train_controls}}
							{{/each}}
						</div>
					</div>
						
				</section>
				<footer>
					<h3>&nbsp;</h3>
					<!--
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					-->
				</footer>
				
				<!--
				<footer>
					<h3>{{connections.count}} passenger(s)</h3>
					
					<ul>
						{{#each connections}}
							{{> connection}}
						{{/each}}
					</ul>
					
				</footer>
				-->
			</article>

			<aside>
				<h3>driver's cab</h3>
				<p>
				{{#each trains}}
					{{> train_cab}}
				{{/each}}
				</p>
				<p>{{connections.count}} passenger(s)</p>
			</aside>

		</div> <!-- #main -->
	</div> <!-- #main-container -->

	<div class="footer-container">
		<footer class="wrapper">
			<h3>&copy; qnipp 2015 - made with &hearts; in Oslip.</h3>
		</footer>
	</div>
		
</template>



<template name="train_controls">
	
	<!--{{#if equals myconnection currentengineman}}-->
		<div class="grid_50">
			<div class="bottom boxouter" style="position: relative; top: 70px;">
				<div class="grid_50">
					&nbsp;
				</div>
				<div class="grid_50 boxinner">
					forward
				</div>
			</div>
			<div class="boxouter">
				<div class="grid_50 boxinner" style="position: relative; top: 108px;">
					stop
				</div>
				<div class="grid_50">
					{{#if equals myconnection currentengineman}} 
						<input type="range" class="direction vertical" orient="vertical" id="direction" value="{{direction}}" min="-1" max="1" step="1" />
					{{else}}
						<input type="range" class="direction vertical disabled" orient="vertical" id="direction" value="{{direction}}" min="-1" max="1" step="1" disabled="disabled" />
					{{/if}}
				</div>
			</div>
			<div class="top boxouter">
				<div class="grid_50">
					&nbsp;
				</div>
				<div class="grid_50 boxinner" style="text-align: center;">
					rev
				</div>
			</div>
		</div>
		
		<div class="grid_50">
			<div>
				<div class="grid_50">
					{{#if equals myconnection currentengineman}} 
						<input type="range" class="targetspeed vertical" orient="vertical" id="targetspeed" value="{{targetspeed}}" min="0" max="100" step="5" />
					{{else}}
						<input type="range" class="targetspeed vertical disabled" orient="vertical" id="targetspeed" value="{{targetspeed}}" min="0" max="100" step="5" disabled="disabled" />
					{{/if}}
				</div>
				<div class="grid_50 rot_270" style="position: relative; top: 12px; left: 12px;">
					speed
				</div>
			</div>
		</div>
		
	<!--{{else}}
		
	{{/if}}-->
	
</template>

<template name="train_speed">

	<label for="currentspeed">current speed: </label>
	{{currentspeed}}
	<label for="currentdirection">direction: </label>
	{{currentdirection}}<br >
</template>


<template name="train_cab">

	<h3>
	{{#if currentengineman}}
		{{#if equals myconnection currentengineman}}
			<input type="button" value="leave 
driver's cab" class="button leave" name="leave" />
		{{/if}}
			
			
	{{ else }}
			<input type="button" value="become
engineer" class="button engineman" name="engineman" />
	{{/if}}
	</h3>
	
</template>




<template name="connection">
	<li>user:
		{{#if equals _id myconnection}}
			<b>{{_id}}</b>
		{{ else }}
			{{_id}}
		{{/if}}
	
		{{#if userId}}
			(user: {{username}})
		{{ else }}
			(guest)
		{{/if}}
		- 
		{{#if equals _id currentengineman}}
			(<b>engineer</b>)
		{{ else }}
			(passenger)
		{{/if}}
	</li>
</template>



<template name="oldstuff">
	old stuff
	
  <!--
	<div class="steering">
		<div class="speed1"><div class="speedinner">speed 1</div></div>
		<div class="speed2"><div class="speedinner">speed 2</div></div>
		<div class="speed3"><div class="speedinner">speed 3</div></div>
	</div>
	-->
		<!--
		<label for="targetspeed">targetspeed: </label><br />
		<input type="number" id="targetspeed" name="targetspeed" value="{{getTargetspeed}}" min="-50" max="50" />
		<br />
		
		<label for="currentspeed">current speed: </label><br />
		<!- - <input type="number" id="currentspeed" name="currentspeed" value="{{getCurrentspeed}}" readonly>- ->
		{{getCurrentspeed}}
		
		<label for="currentspeed">direction: </label><br />
		<!- - <input type="number" id="currentspeed" name="currentspeed" value="{{getCurrentdirection}}" readonly>- ->
		{{getCurrentdirection}}
		
			
	<!- -
	
	<div class="container"></div>
    <div id="tachometer">
                  <div class="ii">
                      <div><b><span class="num_1">0</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_2">1</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_3">2</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_4">3</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_5">4</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_6">5</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_7">6</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_8">7</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_9">8</span></b></div>
                  </div> 
                <div id="redline"></div>
                
          <div class="line" style="animation: pendulum; 
          animation-iteration-count: infinite; animation-duration: 4s;"></div>
          
         <div class="pin"><div class="inner"></div></div> 
    </div>
    -->
</template>