<template name="dashboard">
	<h3>Dashboard</h3>
	
		{{#each trains}}
			{{> train}}
		{{/each}}
		
		Your connection: {{myconnection}}<br />
		
		Online user:
		<ul>
			{{#each connections}}
				{{> connection}}
			{{/each}}
		</ul>
</template>


<template name="connection">
	<li>user:
		{{#if equals _id myconnection}}
			<b>You</b>
		{{ else }}
			{{_id}}
		{{/if}}
	
		{{#if userId}}
			({{userId}})
		{{ else }}
			(guest)
		{{/if}}
		- {{state}}
	</li>
</template>

<template name="train">

	<label for="targetspeed">targetspeed: </label><br />
	<input type="number" class="targetspeed" id="targetspeed" name="targetspeed" value="{{targetspeed}}" min="0" max="50" /><br />
	<label for="direction">direction: </label>
	<div>
		<input type="checkbox" id="direction" name="direction" class="switch direction" checked="{{direction}}" />
		<label for="direction">forward</label>
	</div>


	<br />
	
	<label for="currentspeed">current speed: </label><br />
	<!-- <input type="number" id="currentspeed" name="currentspeed" value="{{currentspeed}}" readonly>-->
	{{currentspeed}}
	
	<label for="currentdirection">direction: </label><br />
	<!-- <input type="number" id="currentdirection" name="currentdirection" value="{{currentdirection}}" readonly>-->
	{{currentdirection}}
	
	<h3>
	{{#if equals currentUser.username currentengineman}}
		You are the current engineman.
	{{ else }}
	
		{{#if equals currentengineman ""}}
			There is no engineman at the moment - click here to control the train.
		{{ else }}
			Your current engineman is: {{currentengineman}}
		{{/if}}
	
	{{/if}}
	
	</h3>
</template>










<template name="oldstuff">
	old stuff
	
  <!--
	<div class="steering">
		<div class="speed1"><div class="speedinner">speed 1</div></div>
		<div class="speed2"><div class="speedinner">speed 2</div></div>
		<div class="speed3"><div class="speedinner">speed 3</div></div>
	</div>
	-->
		<!--
		<label for="targetspeed">targetspeed: </label><br />
		<input type="number" id="targetspeed" name="targetspeed" value="{{getTargetspeed}}" min="-50" max="50" />
		<br />
		
		<label for="currentspeed">current speed: </label><br />
		<!- - <input type="number" id="currentspeed" name="currentspeed" value="{{getCurrentspeed}}" readonly>- ->
		{{getCurrentspeed}}
		
		<label for="currentspeed">direction: </label><br />
		<!- - <input type="number" id="currentspeed" name="currentspeed" value="{{getCurrentdirection}}" readonly>- ->
		{{getCurrentdirection}}
		
			
	<!- -
	
	<div class="container"></div>
    <div id="tachometer">
                  <div class="ii">
                      <div><b><span class="num_1">0</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_2">1</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_3">2</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_4">3</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_5">4</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_6">5</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_7">6</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_8">7</span></b></div>
                      <div><b></b></div>
                      <div><b><span class="num_9">8</span></b></div>
                  </div> 
                <div id="redline"></div>
                
          <div class="line" style="animation: pendulum; 
          animation-iteration-count: infinite; animation-duration: 4s;"></div>
          
         <div class="pin"><div class="inner"></div></div> 
    </div>
    -->
</template>