<Template name="tachometer">

    <div class="tachometer">
        <div class="border">
        </div>

        <div class="lines">
            <div><b><span class="num_0">0</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_1">10</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_2">20</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_3">30</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_4">40</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_5">50</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_6">60</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_7">70</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_8">80</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_9">90</span></b></div>
            <div><b></b></div>
            <div><b><span class="num_10">100</span></b></div>
        </div>

        <div class="pin"></div>
        <div class="needle" {{needleStyle}}></div>
        <div class="selector" {{selectorStyle}}><div class="triangle"><div></div></div></div>
        <div class="text">{{speed}}</div>
        <div class="unit">km/h</div>
    </div>

</Template>