
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; 
    -webkit-appearance: slider-vertical; 
    /*width: 20px;*/
    height: 280px;
    padding: 0 5px;
}

input.direction[type=range][orient=vertical]
{
    height: 140px;
	margin-top: 70px;
}

/*
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: red;
    width: 20px;
    height: 20px;
}
*/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  /*margin: 16px 0;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;
  height: 10px;
  */
  width: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1e6ba9;
  border-radius: 3px;
  border: 1px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 42px;
  width: 30px;
  border-radius: 5px;
  background: #6498ff;
  cursor: pointer;
  /*-webkit-appearance: none;*/
  /*margin-top: -17px;*/
  margin-left: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #74b4e6;
}
input[type=range]::-moz-range-track {
  /*width: 100%;
  height: 10px;
  */
  width: 50%;
  /*height: 10px;*/
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1e6ba9;
  border-radius: 3px;
  border: 1px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 42px;
  width: 22px;
  border-radius: 5px;
  background: #6498ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #081b2b;
  border: 1px solid #010101;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #1e6ba9;
  border: 1px solid #010101;
  border-radius: 6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 42px;
  width: 22px;
  border-radius: 5px;
  background: #6498ff;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #1e6ba9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #74b4e6;
}

/*
div.boxouter {
	position:relative; 
}
div.boxinner {
	left:50%; top:50%; 
	transform:translate(-50%,-50%); 
	-webkit-transform:translate(-50%,-50%); 
	background-color:gray; 
	color:white; 
	position:absolute;
}
*/
div.grid_100 {
	width: 100%;
}

div.grid_75, div.grid_66, div.grid_50, div.grid_33, div.grid_25, div.grid_20 {
	float: left;
}
div.grid_75 {
	width: 75%;
}
div.grid_66 {
	width: 67%;
}
div.grid_50 {
	width: 50%;
}
div.grid_33 {
	width: 33%;
}
div.grid_25 {
	width: 25%;
}
div.grid_20 {
	width: 20%;
}

div.vgrid_100 {
	height: 100%;
}
 
div.vgrid_50 {
	height: 50px;
}
div.vgrid_25 {
	height: 25px;
}


div.top {
	vertical-align: top;
	height: 100%;
	margin:0px auto;
}
div.bottom {
	vertical-align: bottom;
	margin:0px auto;
	height: 100%;
}
div.middle {
	vertical-align: middle;
	margin:0px auto;
	height: 100%;
}

/*
input[type=range][orient=vertical] {
    -webkit-appearance: none;
    background-color: green;
    width: 200px;
    height:10px;

      -webkit-transform:rotate(90deg);       
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    z-index: 0;
}
*/
/*
input[type=range].vHorizon {
    -webkit-appearance: none;
    background-color: pink;
    height: 10px;
    width:200px;
}
*/
/*
 
 input.switch:empty
{
	margin-left: -999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #c33;
	border-radius: 0.3em;
	box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 0.15em;
	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
	background-color: #393;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
}

*/

 /*
div.steering {
	border: 3px solid black;
	background-color: lightgray;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	height: 300px;
}

div.speed1 {
	border: 2px solid black;
	
    width: 200px;
    height:290px;
    
    -webkit-transform: perspective(200px) rotateX(-30deg);
    -o-transform: perspective(200px) rotateX(-30deg);
    -moz-transform: perspective(200px) rotateX(-30deg);
	
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: 60px auto 0px auto;
	
	border-top-left-radius: 10%;
	border-top-right-radius: 10%;
}


div.speed2 {
	
}

div.speed3 {
	
}

div.speed1 div.speedinner {
	margin: auto auto;
	height: 100%
}
*/
/* TACHOMETER */
/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    background:#1D1D1D;
}
.container {
    margin: 40px auto;
    width: 600px;
}

#tachometer{
    background:#171717;
    margin:100px auto;
    width:600px;
    height:600px;
    box-shadow: inset 0px 0px 9px 3px rgba(0, 0, 0, 1);
    border: 5px solid #171717;
    border-radius: 100%;
    display: block;
    position: relative;  
}


.ii {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 2;
    
}
.ii div {
    position: absolute;
    width: 600px;
    height: 600px;
    padding:4px;
    box-sizing: border-box;
}
.ii div b {
    position: absolute;
    display: block;
    left: 50%;
    width: 5px;
    height: 20px;
    background: #FFF;
    margin: 0 -5px 0;
    
}
.ii div:nth-child(2n+1) b {
    width: 10px;
    height: 35px;
    margin: 0 -5px 0;
}

.ii div:nth-child(1) {
    transform: rotate(240deg);
}
.ii div:nth-child(2) {
    transform: rotate(255deg);
}
.ii div:nth-child(3) {
    transform: rotate(270deg);
}
.ii div:nth-child(4) {
    transform: rotate(285deg);
}
.ii div:nth-child(5) {
    transform: rotate(300deg);
}
.ii div:nth-child(6) {
    transform: rotate(315deg);
}
.ii div:nth-child(7) {
    transform: rotate(330deg);
}
.ii div:nth-child(8) {
    transform: rotate(345deg);
}
.ii div:nth-child(9) {
    transform: rotate(0deg);
}
.ii div:nth-child(10) {
    transform: rotate(15deg);
}
.ii div:nth-child(11) {
    transform: rotate(30deg);
}
.ii div:nth-child(12) {
    transform: rotate(45deg);
}
.ii div:nth-child(13) {
    transform: rotate(60deg);
}
.ii div:nth-child(14) {
    transform: rotate(75deg);
}
.ii div:nth-child(15) {
    transform: rotate(90deg);
}
.ii div:nth-child(16) {
    transform: rotate(105deg);
}
.ii div:nth-child(17) {
    transform: rotate(120deg);
}


[class^="num_"] {
    color:#FFF;
    display: block;
    position: absolute;
    width: 10px;
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;
      
}

.num_1 {transform: rotate(120deg); top:20px;}
.num_2 {transform: rotate(90deg); top:13px; left:5px}
.num_3 {transform: rotate(60deg); top:21px;}
.num_4 {transform: rotate(30deg); top:25px;}
.num_5 {transform: rotate(0deg);  top:30px;left:-8px}
.num_6 {transform: rotate(330deg); top:35px;left:-10px}
.num_7 {transform: rotate(300deg); top:35px;left:-7px;}
.num_8 {transform: rotate(270deg);top:30px;}
.num_9 {transform: rotate(240deg);top:30px;left:8px}

#redline{     
    width:28px; height:150px;
    position:absolute;
    top:272px;
    right:12px;
    border-width: 22px;
    border-radius: 50%;
    border-style: solid;
    border-color:#171717 #F14134 #171717 #171717;
    transform:rotate(15deg);
    z-index:1
    }


.line {

    
    background: #F14134;
    background-image: linear-gradient(to bottom, #F14134, #343536);
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 0;
    transform-origin: 50% 100%;
    margin: -285px -8px 0;
    padding: 285px 8px 0;
    z-index:2;
    border-radius: 50% 50% 0 0;    
    transform:rotate(-95deg);
    
    
	animation-duration: 2s;
        
}

.pin {
    width: 50px;
    height: 50px;
    left:50%;
    top:50%;
    margin: -25px 0 0 -25px;
    background-color: #343536;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to bottom, #F14134, #343536);
    z-index: 4;
}


.inner {
    width: 30px;
    height: 30px;
    margin: 10px auto 0;
    background-color: #343536;
    border-radius: 100%;
    box-shadow: inset 0 8px 15px 0 rgba(167, 23, 10, 0.4);
    position: relative;
}



@keyframes pendulum {
    10% {
        transform:rotate(100deg);
    }

   
    11% {
        transform:rotate(98deg);
    }
    12% {
        transform:rotate(96deg);
    }
    13% {
        transform:rotate(98deg);
    }
    14% {
        transform:rotate(96deg);
    }
    15% {
        transform:rotate(98deg);
    }
    16% {
        transform:rotate(96deg);
    }
    17% {
        transform:rotate(98deg);
    }
    18% {
        transform:rotate(96deg);
    }
    19% {
        transform:rotate(98deg);
    }
}
*/